{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
  <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <!-- untuk icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <!-- untuk Data Tabel -->
  <link rel="stylesheet" href="{% static 'DataTables/DataTables-1.11.4/css/jquery.dataTables.css' %}">
  <link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">
  <script src="{% static 'DataTables/DataTables-1.11.4/js/jquery.dataTables.js' %}"></script>


</head>

<body>
  {% include "snippets/navbar.html" %}
  <div class="container-fluid col-11"">
  <br>
  <br>
  <br>
  <br>
  <div class=" row">
    <div class="col-md-12">
      <div class="text-center alert alert-primary" role="alert">
        <img style="height: 30px; margin-right: 10px;" src="{% static 'img/logoharum.png' %}" alt="logo">
        Selamat Datang, <a href="" class="alert-link">{{ user }} !</a>
      </div>
      <h3 class="">
        DATABASE HARUM CENTER
      </h3>
      <button class="btn btn-primary"><a style="color: aliceblue; text-decoration:none;"
          href="{% url 'tambah_kubar' %}">Tambah Data
          Baru +</a></button>
      <!-- <h3>
            <a href="{% url 'tambah_kubar' %}" class="btn btn-primary">Tambah</a>
            <a href="{% url 'export_xls' %}" class="btn btn-success">Export .xls</a>
          </h3> -->
      <div class="text center offset-5">
        {% for message in messages %}
        {% if message %}
        <div class="text-center col-3 alert alert-success lh-1">{{ message }}</div>
        {% endif %}
        {% endfor %}
      </div>
      <p style="text-align: end; text-decoration: underline; margin-bottom: 0;">Geser >></p>
      <div class="table-responsive shadow border-primary border-1">
        <table id="bootstrapdatatable" class="table table-bordered table-striped table-hover">
          <thead>
            <tr class="table-primary" style="text-align: center;">
              <th scope="col" style="text-align: center;">Action</th>
              <th scope="col">NO.</th>
              <th scope="col">NIK</th>
              <th scope="col">Nama DPT <span style="color: rgb(5, 202, 54);">(Click for Detail)</span></th>
              <th scope="col">Nomor KK</th>
              <th scope="col">Tanggal Lahir</th>
              <th scope="col">Alamat</th>
              <th scope="col">Nomor HP</th>
              <th scope="col">Kota</th>
              <th scope="col">Kecamatan</th>
              <th scope="col">Kelurahan</th>
              <th scope="col">RT</th>
              <th scope="col">No. Rekening</th>
              <th scope="col">Bank</th>
              <th scope="col">Nama Rekening</th>
              <th scope="col">Keterangan</th>
              <th scope="col">Status Telespocheck</th>
              <th scope="col">Hasil Telespocheck</th>
              <th scope="col">Keterangan Telespocheck</th>
              <th scope="col">Tanggal Telespocheck</th>
              <th scope="col">Telespochecker</th>
              <th scope="col">Inputer</th>
              <th scope="col">Tanggal Input Data</th>
              <th scope="col">Tanggal Honor</th>
              <th scope="col">Nominal Honor</th>
              <th scope="col">Keterangan Honor</th>
              <th scope="col" style="text-align: center;">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for kubar in kubarr %}
            <tr class="text-center">
              <td>
                <a href="{% url 'ubah_kubar' kubar.id %}"><button data-bs-toggle="modal" data-bs-target=""
                    class="btn btn-success">Update</button></a>
              </td>
              <td>{{forloop.counter}}</td>
              <td>{{ kubar.nik }}</td>
              <td class="text-start"><a href="" style="text-decoration: none;" data-bs-toggle="modal"
                  data-bs-target="#exampleModal-{{ kubar.id }}">{{kubar.nama_dpt }}</a>
              </td>
              <td>{{ kubar.nomor_kk }}</td>
              <td>{{ kubar.tanggal_lahir }}</td>
              <td>{{ kubar.alamat }}</td>
              <td>{{ kubar.nomor_hp }}</td>
              <td>{{ kubar.kota }}</td>
              <td>{{ kubar.kecamatan }}</td>
              <td>{{ kubar.kelurahan }}</td>
              <td>{{ kubar.rt }}</td>
              <td>{{ kubar.nomor_rekening }}</td>
              <td>{{ kubar.bank }}</td>
              <td>{{ kubar.nama_pemilik_rekening }}</td>
              <td>{{ kubar.keterangan }}</td>
              <td>{{ kubar.status_telespocheck }}</td>
              <td>{{ kubar.hasil_telespocheck }}</td>
              <td>{{ kubar.keterangan_telespocheck }}</td>
              <td>{{ kubar.tanggal_telespocheck }}</td>
              <td>{{ kubar.telespochecker }}</td>
              <td>{{ kubar.inputer }}</td>
              <td>{{ kubar.tanggal_input_data }}</td>
              <td>{{ kubar.tanggal_honor }}</td>
              <td>{{ kubar.nominal_honor }}</td>
              <td>{{ kubar.keterangan_honor }}</td>

              <td>
                <button data-bs-toggle="modal" data-bs-target="#hapus-{{ kubar.id }}"
                  class="btn btn-danger">Hapus</button>
              </td>
              <div class="modal fade" id="hapus-{{ kubar.id }}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="modal-title">
                        <h3>Hapus</h3>
                      </div>
                    </div>
                    <div class="modal-body">
                      Apakah anda yakin ingin menghapus <strong>{{ kubar.nama_dpt }}</strong>?
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'hapus_kubar' kubar.id %}" class="btn btn-danger">Hapus</a>
                      <button class="btn btn-dark" data-bs-dismiss="modal">Tidak</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="exampleModal-{{ kubar.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="col-10 offset-1" style="text-align: center;">
                        <h4>{{ kubar.nama_dpt}}</h4>
                      </div>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">


                            <form action="{% url 'tambah_kubar' %}" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              Nama DPT :
                              <br><strong>
                                {{ kubar.nama_dpt }}</strong>
                              <br>
                              <br>
                              NIK :
                              <br><strong>
                                {{ kubar.nik }}</strong>
                              <br>
                              <br>
                              Nomor Kartu Keluarga :
                              <br><strong>
                                {{ kubar.nomor_kk }}</strong>
                              <br>
                              <br>
                              Alamat Lengkap :
                              <br><strong>
                                {{ kubar.alamat }}</strong>
                              <br>
                              <br>
                              Kota / Kabupaten :
                              <br><strong>
                                {{ kubar.kota }}</strong>
                              <br>
                              <br>
                              Kecamatan :
                              <br><strong>
                                {{ kubar.kecamatan }}</strong>
                              <br>
                              <br>
                              Kelurahan :
                              <br><strong>
                                {{ kubar.kelurahan }}</strong>
                              <br>
                              <br>
                              RT :
                              <br><strong>
                                {{ kubar.rt }}</strong>
                              <br>
                              <br>
                          </div>
                          <div class="col-md-4">
                            Tanggal Lahir :
                            <br>
                            <strong>{{ kubar.tanggal_lahir}}</strong>
                            <br>
                            <br>
                            Nomor HP :
                            <br>
                            <strong>{{ kubar.nomor_hp }}</strong>
                            <br>
                            <br>
                            Nomor Rekening :
                            <br>
                            <strong>{{ kubar.nomor_rekening}}</strong>
                            <br>
                            <br>
                            Bank :
                            <br>
                            <strong>{{ kubar.bank}}</strong>
                            <br>
                            <br>
                            Nama Pemilik Rekening :
                            <br>
                            <strong>{{ kubar.nama_pemilik_rekening}}</strong>
                            <br>
                            <br>
                            Keterangan Tambahan:
                            <br>
                            <strong>{{ kubar.keterangan}}</strong>
                            <br>
                            <br>
                            Penginput / Inputer :
                            <br>
                            <strong>{{ kubar.inputer}}</strong>
                            <br>
                            <br>
                            Tanggal Input Data :
                            <br>
                            <strong>{{ kubar.tanggal_input_data}}</strong>
                            <br>
                            <br>
                          </div>
                          <div class="col-md-4">
                            Status Telespocheck :
                            <br>
                            <strong>{{ kubar.status_telespocheck}}</strong>
                            <br>
                            <br>
                            Tanggal Telespocheck :
                            <br>
                            <strong>{{ kubar.tanggal_telespocheck}}</strong>
                            <br>
                            <br>
                            Hasil telespocheck :
                            <br>
                            <strong>{{ kubar.hasil_telespocheck}}</strong>
                            <br>
                            <br>
                            Keterangan Tambahan Hasil Telespocheck :
                            <br>
                            <strong>{{ kubar.keterangan}}</strong>
                            <br>
                            <br>
                            Penelpon / Telespochecker :
                            <br>
                            <strong>{{ kubar.telespochecker}}</strong>
                            <br>
                            <br>
                            Tanggal Honor :
                            <br>
                            <strong>{{ kubar.tanggal_honor}}</strong>
                            <br>
                            <br>
                            Nominal Honor :
                            <br>
                            <strong>{{ kubar.nominal_honor}}</strong>
                            <br>
                            <br>
                            Keterangan Honor :
                            <br>
                            <strong>{{ kubar.keterangan_honor}}</strong>
                            <br>
                            <br>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  <br>
  {% include "snippets/footer.html" %}
  {% include "snippets/scripts.html" %}
  <script src="{% static 'DataTables/datatables.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('#bootstrapdatatable').DataTable({
        "aLengthMenu": [[10, 30, 50, 100, -1], [10, 30, 50, 100, "All"]],
        "iDisplayLength": 10,
        dom: 'lBfrti',
        button: [
          {
            extend: 'pdf',
            oriented: 'portrait',
            pageSize: 'Legal',
            title: 'Data DPT',
            download: 'open'
          },
          'csv', 'excel', 'print', 'copy'
        ]
      }
      );
    });
  </script>
</body>
<!-- "dom": 'Bfrtip',
"button": [
  {
    extend: 'pdf',
    oriented: 'portrait',
    pageSize: 'Legal',
    title: 'Data DPT',
    download: 'open'
  },
  'csv', 'excel', 'print', 'copy'
] -->

</html>