{% load static %}
<footer class="bg-warning text-black pt-1 pb-4" style="bottom; 10px;">

  <div class="container text-center text-md-left">

    <div class="row text-center text-md-left">


      <figure class="col-md-2 col-lg-3 col-xl-5 mx-auto">
        <img width="500" height="400" src="/static/img/foto harum.png" class="attachment-medium size-large"
          alt="Logo Barokah Perkasa Group" loading="lazy">
      </figure>
      <div class="col-md-6 col-lg-3 col-xl-4 mx-auto mt-3 pt-5">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> Barokah Shipping</h5>
        <p><strong>HARUM CENTER</strong><br><br>Merupakan organisasi sosial yang dibangun oleh H. Rudy Mas'ud yang
          merupakan anggota Dewan Perwakilan Rakyat Republik Indonesia. Harum center bertujuan untuk meningkatkan
          kesejahteraan masyarakat Kaltim dengan Program-program binaan dan juga bantuan sosial.</p>
      </div>
      <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mt-3 pt-5">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning text-left"> Alamat</h5>
        <p>
          <i class="bi bi-geo-alt-fill" style="font-size: 25px;"></i><a href="https://goo.gl/maps/QymgZvjhGRMdb1Dr9"
            target="_blank" style="text-decoration: none; color: black">
            Jl. Jendral Sudirman No.40 RT 26, Klandasan
            Ilir, Kota Balikpapan.</a>
        </p>
        <p>
          <i class="bi bi-envelope-fill" style="font-size: 25px;"></i> harumcenter2024@gmail.com.
        </p>
        <p>
          <i class="bi bi-phone-fill" style="font-size: 25px;"></i> +6281-xxx-xx.
        </p>
        <p>
          <i class="bi bi-telephone-fill" style="font-size: 25px;"></i> 0542 xxxxx.
        </p>
      </div>
      <hr class="mb-4">

      <div class="row align-items-center">
        <div class="col-md-8 col-lg-9">
          <p class="text-lg-start"> Copyright @2022 All rights reserved by :
            <a href="#" style="text-decoration: none;">
              <strong class="text-warning"> Muhammad ishak</strong>
            </a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3">
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/h.rudymasud" target="_blank" class="btn-floating btn-sm"
                  style="font-size: 40px;"><i class="bi bi-facebook"></i></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/search?q=rudy%20mas%27ud&src=typed_query" target="_blank"
                  class="btn-floating btn-sm" style="font-size: 40px;"><i class="bi bi-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/h.rudymasud/" target="_blank" class="btn-floating btn-sm"
                  style="font-size: 40px; color:rgb(255, 0, 140)"><i class="bi bi-instagram"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.youtube.com/watch?v=k0mStZiwBrc" target="_blank"
                  class="btn-floating btn-sm text-black"><i class="bi bi-youtube"
                    style="font-size: 40px; color: red;"></i></a>
              </li>
            </ul>
          </div>

        </div>
      </div>




</footer>