{% load static %}
<script src="{% static 'vendor/popper/popper.js' %}"></script>
<script src="{% static 'vendor/jqueryjquery.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<!-- <script>
  $(document).ready(function () {
    $('#bootstrapdatatable').DataTable({
      "aLengthMenu": [[10, 30, 50, 100, -1], [10, 30, 50, 100, "All"]],
      "iDisplayLength": 10,
    }
    );
  });
</script> -->